<%= content_tag_for( :tr, member, :class => "member row" ) do %>
 <td><%= member.full_name %></td>
 <td><%= member.title %></td>
 <td><%= member.profession_names %></td>
 <td><%= member.phone_number %><br/>
     <%= member.email %>
 </td>
<% end %>
