<%# in layout/_head now %>
<%# stylesheets('base/jquery.ui.all.css') %>

<%= f.error_messages %>
<%= f.wrapped_text_field :title,
	:label_text => "Title <span class='required'>*</span>",
	:class => 'autosize' %>
 <%= f.wrapped_text_field :location,
	:class => 'autosize' %>
<%= f.wrapped_text_area :content,
	:label_text => "Content <span class='required'>*</span>",
	:class => 'autosize' %>
<% f.wrapped_date_text_field :begins_on,
	:label_text => "Begins On <span class='required'>*</span>" do %>
 <%= f.wrapped_select(:begins_at_hour, (1..12), :include_blank => 'Hour',
	:label_text => '&nbsp;&nbsp;at&nbsp;') %>
 <%= f.wrapped_select(:begins_at_minute, (0..59), :include_blank => 'Minute',
	:label_text => '&nbsp;:&nbsp;') %>
 <%= f.wrapped_select(:begins_at_meridiem, ['AM','PM'], :include_blank => 'Meridiem',
	:label_text => '&nbsp;&nbsp;') %>
<% end %>
<% f.wrapped_date_text_field :ends_on do %>
 <%= f.wrapped_select(:ends_at_hour, (1..12), :include_blank => 'Hour',
	:label_text => '&nbsp;&nbsp;at&nbsp;') %>
 <%= f.wrapped_select(:ends_at_minute, (0..59), :include_blank => 'Minute',
	:label_text => '&nbsp;:&nbsp;') %>
 <%= f.wrapped_select(:ends_at_meridiem, ['AM','PM'], :include_blank => 'Meridiem',
	:label_text => '&nbsp;&nbsp;') %>
<% end %>
<p><span class='required'>*&nbsp;-&nbsp;Required</span> (times are optional)</p>
