<% javascripts('tiny_mce/jquery.tinymce.js') %>
<%= f.error_messages %>
<%= f.wrapped_text_field :title,
	:label_text => "Title #{required('*')}",
	:class => 'autosize' %>
 <%= f.wrapped_text_field :location,
	:class => 'autosize' %>
<%= f.wrapped_text_area :content,
	:label_text => "Content #{required('*')}",
	:class => 'tinymce' %>
<% f.wrapped_date_text_field :begins_on,
	:label_text => "Begins On #{required('*')}" do %>
 <%= f.wrapped_hour_select(:begins_at_hour,
	:label_text => '&nbsp;&nbsp;at&nbsp;') %>
 <%= f.wrapped_minute_select(:begins_at_minute, 
	:label_text => '&nbsp;:&nbsp;') %>
 <%= f.wrapped_meridiem_select(:begins_at_meridiem,
	:label_text => '&nbsp;&nbsp;') %>
<% end %>
<% f.wrapped_date_text_field :ends_on do %>
 <%= f.wrapped_hour_select(:ends_at_hour,
	:label_text => '&nbsp;&nbsp;at&nbsp;') %>
 <%= f.wrapped_minute_select(:ends_at_minute,
	:label_text => '&nbsp;:&nbsp;') %>
 <%= f.wrapped_meridiem_select(:ends_at_meridiem,
	:label_text => '&nbsp;&nbsp;') %>
<% end %>
<p><%= required('*&nbsp;-&nbsp;Required') -%> (times are optional)</p>
