<h1>Editing group event</h1>

<% form_for(@event,
	:url => group_event_path(@group,@event) ) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
 <p>
  <%= f.submit( 'Update', :style => 'display:none' ) %>
  <%= submit_link_to( 'Update' ) %>
&nbsp;
  <%= link_to 'Show', group_event_path(@group,@event),:class => 'button' %>
&nbsp;
  <%= link_to 'Back', group_events_path(@group),:class => 'button' %>
 </p>
<% end %>
