<%= form_for(@doc_form, :html => { :multipart => true }) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :title,    :class => 'autosize' %>
 <%= f.wrapped_text_area  :abstract, :class => 'autosize' %>

 <% @doc_form.group_documents.build if @doc_form.group_documents.empty? %>
 <%= render :partial => 'group_documents/group_documents',
  :locals => { :f => f } %>

 <p>
  <%= f.submit( ((@doc_form.new_record?)?'Create':'Update')<<" Doc Form" ) %>
  <% unless( @doc_form.new_record? ) %>
    <%= link_to 'Cancel and Show Doc Form', @doc_form, :class => 'button' %>
  <% end %>
  <%= link_to 'Cancel and Show Doc Forms', doc_forms_path, :class => 'button' %>
 </p>
<% end %>
