<h2>Doc Form:</h2>

<p>
  <b>Title:</b>
  <%=h @doc_form.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= sanitize(@doc_form.abstract) %>
</p>


<% unless @doc_form.group_documents.empty? %>
<p><b>Attachment(s):</b></p>
  <% @doc_form.group_documents.each do |document| %>
    <p><%= link_to document.title, group_document_path(document) %></p>
  <% end %>
<% end %>


<div class='manage'>
  <%= link_to 'Edit', edit_doc_form_path(@doc_form), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', doc_form_path(@doc_form) do %>
   <%= hidden_field_tag 'confirm', "Destroy doc form '#{h(@doc_form)}'?", 
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
</div>
