<h1>Editing announcement</h1>

<% form_for(@announcement) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_text_field :title %>
	<%= f.wrapped_text_area :content %>
	<p><%= f.submit( (@announcement.new_record?)?'Create':'Update' ) %></p>
<% end %>

<%= link_to 'Show', @announcement %> |
<%= link_to 'Back', announcements_path %>
