<h1>Editing announcement</h1>

<% form_for(@announcement) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :title,
	:class => 'autosize' %>
 <%= f.wrapped_text_area :content,
	:class => 'autosize' %>
 <p>
  <%= f.submit( (@announcement.new_record?)?'Create':'Update', :style => 'display:none' ) %>
  <%= submit_link_to( (@announcement.new_record?)?'Create':'Update' ) %>
  <%= link_to 'Show', @announcement, :class => 'button' %>
  <%= link_to 'Back', announcements_path, :class => 'button' %>
 </p>
<% end %>

