<% javascripts("//tinymce.cachefly.net/4.0/tinymce.min.js") %>
<h2>Editing Announcement</h2>

<%= form_for(@announcement) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :title,
	:label_text => "Title #{required('*')}".html_safe,
	:class => 'autosize' %>
 <%= f.wrapped_text_field :location,
	:class => 'autosize' %>
 <%= f.wrapped_text_area :content,
	:label_text => "Content #{required('*')}".html_safe,
	:cols => 40, :rows => 20,
	:class => 'tinymce' %>
 <%= f.wrapped_date_text_field :begins_on do %>
  <%= f.wrapped_hour_select(:begins_at_hour,
		:label_text => '&nbsp;&nbsp;at&nbsp;'.html_safe) %>
  <%= f.wrapped_minute_select(:begins_at_minute,
		:label_text => '&nbsp;:&nbsp;'.html_safe) %>
  <%= f.wrapped_meridiem_select(:begins_at_meridiem,
		:label_text => '&nbsp;&nbsp;'.html_safe) %>
 <% end %>
 <%= f.wrapped_date_text_field :ends_on do %>
  <%= f.wrapped_hour_select(:ends_at_hour,
		:label_text => '&nbsp;&nbsp;at&nbsp;'.html_safe) %>
  <%= f.wrapped_minute_select(:ends_at_minute,
		:label_text => '&nbsp;:&nbsp;'.html_safe) %>
  <%= f.wrapped_meridiem_select(:ends_at_meridiem,
		:label_text => '&nbsp;&nbsp;'.html_safe) %>
 <% end %>
 <p><%= required('*&nbsp;-&nbsp;Required') -%> (times are optional)</p>
 <p>
  <%= f.submit( ((@announcement.new_record?)?'Create':'Update')<<' Announcement' ) %>&nbsp;
  <% unless( @announcement.new_record? ) %>
    <%= link_to 'Cancel and Show This Announcement', @announcement, :class => 'button' %>&nbsp;
  <% end %>
  <%= link_to 'Cancel and Show All Announcements', announcements_path, :class => 'button' %>
 </p>
<% end %>

