<p>
  <b>Title:</b>
  <%=h @announcement.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @announcement.content %>
</p>

<p>
  <b>User:</b>
  <%=h @announcement.user.username %>
</p>

<p>
<%= link_to 'Edit', edit_announcement_path(@announcement),:class => 'button' %>
&nbsp;|&nbsp;
<%= link_to 'Back', announcements_path,:class => 'button' %>
</p>
