<p>
  <b>Title:</b>
  <%=h @announcement.title %>
</p>

<p>
  <b>Content:</b>
  <% if( @announcement.textilize ) %>
    <%= sanitize(textilize(@announcement.content)) %>
  <% else %>
    <%= sanitize(@announcement.content) %>
  <% end %>
</p>

<p>
  <b>User:</b>
  <%=h @announcement.user %>
</p>

<p>
<%= link_to 'Edit Announcement', edit_announcement_path(@announcement),:class => 'button' %>
<%= link_to 'Show Announcements', announcements_path,:class => 'button' %>
</p>
