<% content_tag_for( :tr, membership, :class => 'row' ) do %>
 <td class='user'>
  <%= link_to membership.user, membership.user %>
 </td>
 <td class='group'>
  <%= link_to membership.group, membership.group %>
 </td>
 <td class='group_role'>
  <%= membership.group_role %>
 </td>
 <td class='approved'>
  <%= (membership.approved?)?'Yes':'No' %>
 </td>
 <td class='manage'>
  <% form_link_to 'Approve', approve_membership_path(membership),
		'method' => 'put' do %>
    <%= submit_link_to('Approve') %>
  <% end unless membership.approved? %>
  <%= link_to 'Edit', edit_membership_path(membership),
		:class => 'button' %>
  <% destroy_link_to 'Destroy', membership_path(membership) do %>
   <%= hidden_field_tag 'confirm', "Destroy membership '#{membership}'?", 
     :id => nil %>
   <%= submit_link_to('Deny/Destroy') %>
  <% end %>
 </td>
<% end %><!-- class='group row' -->
