<%= content_tag_for( :tr, topic, :class => 'row' ) do %>
 <td class='title'>
  <%= link_to topic.title, topic %><br/>
	<span>by&nbsp;<%=h topic.user %></span>
 </td>
 <td class='posts'>
  <%= topic.posts_count %>
 </td>
 <td class='views'>
  (possible)
 </td>
 <td class='last_post'>
  <% if topic.last_post %>
  <span><%= topic.last_post.created_at %></span><br/>
	<span>by&nbsp;<%=h topic.last_post.user %></span>
  <% end %>
 </td>
 <td class='manage'>
<% if current_user.may_edit_forum?(topic.forum) %>
  <%= link_to 'Edit', edit_topic_path(topic), :class => 'button' %>&nbsp;
<% if current_user.may_moderate_forum?(topic.forum) %>
  <%= destroy_link_to 'Destroy', topic_path(topic) do %>
   <%= hidden_field_tag 'confirm', "Destroy topic '#{h(topic)}'?", 
     :id => nil %>
  <% end %>
<% end %>
<% end %>
 </td>
<% end %><!-- class='topic row' -->
