<div id='publications' class='tab_contents'>
 <% unless @publications.empty? %>
  <ul class='results'>
    <% @publications.each do |publication| %>
     <li class='result'>
      <span class='publication'><%= link_to publication, publication %></span>
      <span class='author'><%= publication.author_last_name %></span>
      <div><span>Attachments:</span>
       <% publication.group_documents.each do |document| -%>
        <span><%= link_to document.title, group_document_path(document) %></span>
       <% end -%>
      </div>
      <div><span>Studies:</span>
       <% publication.studies.each do |study| -%>
        <span class='study'><%= link_to study, study %></span>
       <% end -%>
      </div>
      <div><span>Publication Subjects:</span>
       <% publication.publication_subjects.each do |publication_subject| -%>
        <span class='publication_subject'><%= link_to publication_subject, publication_subject %></span>
       <% end -%>
      </div>
     </li>
    <% end %>
  </ul>
 <% else %>
  <p>Sorry, but no matching publications found.</p>
 <% end %>
</div><!-- id='publications' -->
