<% form_for(@annual_meeting, :html => { :multipart => true }) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :meeting, :class => 'autosize' %>
 <%= f.wrapped_text_area :abstract, :class => 'autosize' %>

 <% @annual_meeting.group_documents.build if @annual_meeting.group_documents.empty? %>
 <%= render :partial => 'group_documents/group_documents',
   :locals => { :f => f } %>

 <p>
  <%= f.submit_link_to( ((@annual_meeting.new_record?)?'Create':'Update')<<" Annual Meeting" ) %>
  <% unless( @annual_meeting.new_record? ) %>
    <%= link_to 'Cancel and Show Annual Meeting', @annual_meeting, :class => 'button' %>
  <% end %>
  <%= link_to 'Cancel and Show Annual Meetings', annual_meetings_path, :class => 'button' %>
 </p>
<% end %>
