<% javascripts('orderable') if current_user.may_order? -%>

<h2>Annual Meetings
<% if current_user.may_create_annual_meetings? %>
<span class='controls'>
<%= link_to "Add Annual Meeting", new_annual_meeting_path,
	:class => 'button' %>
</span>
<% end %>
</h2>

<% unless @annual_meetings.to_a.empty? %>
  <table id='annual_meetings' class='orderable'><thead><tr>
<%= "<th>&nbsp;</th>".html_safe if current_user.may_order? -%>
<th>&nbsp;</th><th>Meeting</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'annual_meeting', :collection => @annual_meetings %>
  </tbody></table><!-- id='annual_meetings' -->
<% else %>
  <p>Sorry, no annual_meetings yet.</p>
<% end -%>

<%= form_tag(order_annual_meetings_path, :method => :post, :id => 'order') do -%>
<p><%= submit_tag 'Save Annual Meetings order', :name => nil, :id => 'save_order' %></p>
<% end if current_user.may_order? %>
