<p>
  <b>Meeting:</b>
  <%=h @annual_meeting.meeting %>
</p>

<p>
  <b>Abstract:</b>
  <%= sanitize(@annual_meeting.abstract) %>
</p>

<% unless @annual_meeting.group_documents.empty? %>
<p><b>Attachment(s):</b></p>
  <% @annual_meeting.group_documents.each do |document| %>
    <p><%= link_to document.title, group_document_path(document) %></p>
  <% end %>
<% end %>

<% if current_user.may_edit_annual_meetings? %>
<div class='manage'>
  <%= link_to 'Edit', edit_annual_meeting_path(@annual_meeting), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', annual_meeting_path(@annual_meeting) do %>
   <%= hidden_field_tag 'confirm', "Destroy annual meeting '#{h(@annual_meeting)}'?", 
    :id => nil %>
  <% end %>
</div>
<% end %>
