<% content_tag_for( :tr, publication, :class => "publication row" ) do %>
 <td class='title'><%= link_to publication, publication %></td>
 <td class='journal'><%=h publication.journal %></td>
 <td class='author'><%=h publication.author_last_name %></td>
 <td class='pubyear'><%=h publication.publication_year %></td>
 <td class='manage'>
  <%= link_to 'Edit', edit_publication_path(publication), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', publication_path(publication) do %>
   <%= hidden_field_tag 'confirm', "Destroy publication '#{h(publication)}'?", 
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
 </td>
<% end %>
