<h2>Publication</h2>

<p>
  <b>Title:</b>
  <%=h @publication.title %>
</p>

<p>
  <b>Journal:</b>
  <%=h @publication.journal %>
</p>

<p>
  <b>First Author:</b>
  <%=h @publication.author_last_name %>
</p>

<p>
  <b>Publication Year:</b>
  <%=h @publication.publication_year %>
</p>

<p>
  <b>Publication Subjects:</b>
  <% @publication.publication_subjects.each do |ps| %>
  <%= link_to ps, ps %>
  <% end %>
</p>

<p>
  <b>Studies:</b>
  <% @publication.studies.each do |s| %>
  <%= link_to s, s %>
  <% end %>
</p>

<% unless @publication.group_documents.empty? %>
<p><b>Attachment(s):</b></p>
  <% @publication.group_documents.each do |document| %>
    <p><%= link_to document.title, group_document_path(document) %></p>
  <% end %>
<% end %>

<% if current_user.may_edit_publications? %>
<div class='manage'>
  <%= link_to 'Edit', edit_publication_path(@publication), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', publication_path(@publication) do %>
   <%= hidden_field_tag 'confirm', "Destroy publication '#{h(@publication)}'?", 
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
</div>
<% end %>
