<% form_for(@publication_subject) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :name, :class => 'autosize' %>



name:string

required

Add "other" to list

Add "other_publication_subject" string field to Publication model, required if "other" is selected.



 <p>
  <%= f.submit( ((@publication_subject.new_record?)?'Create':'Update')<<" Publication Subject" ) %>
  <% unless( @publication_subject.new_record? ) %>
    <%= link_to 'Cancel and Show Publication Subject', @publication_subject, :class => 'button' %>
  <% end %>
  <%= link_to 'Cancel and Show Publication Subjects', publication_subjects_path, :class => 'button' %>
 </p>
<% end %>
