<% javascripts('orderable') if current_user.may_order? -%>

<h2>Publication Subjects
<% if current_user.may_create_publication_subjects? %>
<span class='controls'>
<%= link_to "Create New Publication Subject", 
	new_publication_subject_path,
	:class => 'button' %>
</span>
<% end %></h2>

<% unless @publication_subjects.empty? %>
  <table id='publication_subjects' class='orderable'><thead><tr>
<%= "<th>&nbsp;</th>".html_safe if current_user.may_order? -%>
<th>&nbsp;</th><th>Name</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'publication_subject', :collection => @publication_subjects %>
  </tbody></table><!-- id='publication_subjects' -->
<% else %>
  <p>Sorry, no publication_subjects yet.</p>
<% end -%>

<%= form_tag(order_publication_subjects_path, :method => :post, :id => 'order') do -%>
<p><%= submit_tag 'Save publication subjects order', :name => nil, :id => 'save_order' %></p>
<% end if current_user.may_order? %>
