<%# javascripts('tiny_mce/jquery.tinymce.js') %>
<% javascripts('tinymce-jquery.js') %>
<h2>
<% if @group %>
<%= link_to @group.name, @group %>
&nbsp;&raquo;&nbsp;
<% else %>
<%= link_to "Member's Only", members_only_path %>
&nbsp;&raquo;&nbsp;
<% end %>
<%= link_to @forum.name, @forum %>
&nbsp;&raquo;&nbsp;
Creating new discussion topic</h2>

<%= form_for( @topic, :url => forum_topics_path(@forum),
  :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
  <%= f.wrapped_text_field :title,
    :label_text => 'Topic Title',
    :class => 'autosize' %>

  <% @topic.posts.build if @topic.posts.empty? %>
  <%= f.fields_for :posts do |p| %>
    <%= p.wrapped_text_area :body,
      :class => 'tinymce' %>
    <% p.object.group_documents.build if p.object.group_documents.empty? %>
    <%= p.fields_for :group_documents do |d| %>
      <p>Optional File Attachment ...</p>
<p>Be advised that some characters in the filename are not handled correctly and the uploaded file may not be reachable.  The apostrophe is currently the only known problem so far. Rename the file on your computer prior to uploading so that it does not include any special characters.</p>
      <%= d.wrapped_text_field :title,
        :label_text => 'Document Title',
        :class => 'autosize' %>
      <%= d.wrapped_file_field :document %>
    <% end %>
  <% end %>

  <p>
    <%= f.submit 'Create Topic' %>&nbsp;
    <%= link_to 'Cancel and return to Forum', forum_path(@forum),
      :class => 'button' %>
  </p>
<% end %>
