<h2>Creating new discussion topic</h2>

<% form_for( @topic, :url => forum_topics_path(@forum),
	:html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
  <%= f.wrapped_text_field :title,
    :label_text => 'Topic Title',
    :class => 'autosize' %>

  <% fields_for @post do |p| %>
    <%= p.error_messages %>
    <%= p.wrapped_text_area :body,
      :class => 'autosize' %>
  <% end %>

  <% fields_for @group_document do |d| %>
    <%= d.error_messages %>
    <p>Optional File Attachment ...</p>
    <%= d.wrapped_text_field :title,
      :label_text => 'Document Title',
      :class => 'autosize' %>
    <%= d.wrapped_file_field :document %>
  <% end %>

  <p>
    <%= f.submit_link_to 'Create' %>
  </p>
<% end %>
