<h1>Editing group membership</h1>

<% form_for([@group,@membership]) do |f| %>
 <%= f.error_messages %>
 <h4>User</h4>
 <%= link_to @membership.user, @membership.user %><br/>
 <h4>Group</h4>
 <%= link_to @group, @group %><br/>
 <h4>Role</h4>
 <%= f.wrapped_collection_select( :group_role_id, GroupRole.all,
  :id, :name, :include_blank => true) %>
 <p>
  <%= f.submit 'Update Membership' %>
  <%= submit_link_to 'Update Membership' %>
 </p>
<% end %>
