<% javascripts('jquery.simplemodal.1.4.4.min.js') %>
<% stylesheets('simple_modal_basic.css') %>
<h2>Request membership&nbsp;<span id='membership_help' class='modal_trigger'>help?</span></h2>
<div id='membership_help_content' class='modal_content'>
<p>A selection of a Group Role is required to access the various Groups.  Membership to the Coordination Group is required to access the Inventory.</p>
<%= render 'memberships/definitions' %>
</div>

<%= form_for([@group,@membership]) do |f| %>
 <h4>Group</h4>
 <div class='field_wrapper'><span class='label'><%= @group.name %></span></div>
 <h4>Role</h4>
 <%= f.wrapped_collection_select( :group_role_id, GroupRole.all,
  :id, :name, :include_blank => true) %>
 <p>
   <%= f.submit 'Send Request' %>
 </p>
<% end %>
