<h2>Membership:</h2>
<p>
  <b>User:</b>
  <%=h @membership.user %>
</p>

<p>
  <b>Group:</b>
  <%=h @membership.group %>
</p>

<p>
  <b>Group role:</b>
  <%=h @membership.group_role %>
</p>

<p>
 <%= link_to 'Edit', edit_group_membership_path(@group,@membership), 
  :class => 'button' %>&nbsp;
 <%= link_to 'Group', group_path(@group), 
  :class => 'button' %>&nbsp;
 <%#= link_to 'Back', group_memberships_path(@membership.group) %>
</p>
