<h1>Editing group document</h1>

<% form_for(@document, 
	:url => group_document_path(@group,@document)) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
 <p>
  <%= f.submit( 'Update' ) %>
  <%= submit_link_to( 'Update' ) %>
&nbsp;
  <%= link_to 'Show', group_document_path(@group,@document),:class => 'button' %>
&nbsp;
  <%= link_to 'Back', group_documents_path(@group),:class => 'button' %>
 </p>
<% end %>
