<h2>Group:</h2>

<% form_for(@group) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_collection_select( :parent_id, Group.roots,
		:id, :name, :include_blank => true,
		:label_text => 'Parent: (main or sub group?)' ) %>
	<%= f.wrapped_text_field :name %>
	<%= f.wrapped_text_area  :description %>
	<p><%= f.submit( (@group.new_record?)?'Create':'Update' ) %></p>
<% end %>
