<% content_tag_for( :tr, group, :class => 'row' ) do %>
 <%= "<td>&nbsp;</td>" unless( group.parent_id.nil?  ) %>
 <td class='name'>
  <%= link_to group.name, group %>
 </td>
 <%= "<td>&nbsp;</td>" if( group.parent_id.nil? ) %>
<% if current_user.may_edit_group?(group) %>
 <td class='manage'>
  <%= link_to 'Edit', edit_group_path(group), :class => 'button' %>
  <% destroy_link_to 'Destroy', group_path(group) do %>
   <%= hidden_field_tag 'confirm', "Destroy group '#{h(group)}'?", 
     :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
 </td>
<% end %>
<% end %><!-- class='group row' -->

<% if group.children.length > 0 %>
 <%= render :partial => 'group', :collection => group.children %>
<% end %>
