<% content_tag_for( :tr, group, :class => 'row' ) do %>
 <td><%= hidden_field_tag( 'ids[]', group.id, :id => nil ) %>
  <%= image_tag 'drag.gif', :class => 'handle' %></td>
 <td class='position'><%= group.position -%></td>


 <td><table><tbody><tr>
  <td class='name'>
   <%= link_to group.name, group %>
  </td>
  <td>&nbsp;</td>

<%# if current_user.may_edit_group?(group) %>
 <td class='manage'>
<% if group.children.length > 1 %>
<%= link_to "Order", groups_path(:parent_id => group.id), :class => 'button' -%>&nbsp;
<% end %>
  <%= link_to 'Edit', edit_group_path(group), :class => 'button' %>
  <% destroy_link_to 'Destroy', group_path(group) do %>
   <%= hidden_field_tag 'confirm', "Destroy group '#{h(group)}'?", 
     :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
 </td>
<%# end %>
</tr>


<% if group.children.length > 0 %>
 <%= render :partial => 'child', :collection => group.children %>
<% end %>

</tbody></table></td>
<% end %><!-- class='group row' -->

