<h2><%=h @group.name %>
<span class='controls'>
<% if current_user.may_edit_group?(@group) %>
 <%= link_to "Edit Group", edit_group_path(@group),
  :class => 'button' %>&nbsp;
<% end %>
 <%= link_to "Request Membership", new_group_membership_path(@group),
  :class => 'button' %>
</span>
</h2>
<div id='group_description'><%=sanitize( @group.description ) %></div>

<hr/>

<div class='members_only_wrapper'>
<div class='members_only'>
 <div class='announcement_section section'>
  <h2>Announcements</h2>
  <% unless @announcements.empty? %>
   <table id='announcements'><tbody>
   <%= render :partial => 'announcement', :collection => @announcements %>
   </tbody></table><!-- id='announcements' -->
  <% else %>
   <p>Sorry, but no announcements yet.</p>
  <% end %>
 </div><!-- class='announcement_section section' -->

 <div class='calendar_section section'>
  <%= calendar() %>
 </div><!-- class='calendar_section section' -->
</div><!-- class='members_only' -->

<p>
<% if current_user.may_create_group_announcements?(@group) %>
<%= link_to "Create New Group Announcement", new_group_announcement_path(@group), 
   :class => 'button' %>&nbsp;
<% end %>
<%= link_to "All Group Announcements", group_announcements_path(@group), 
   :class => 'button' %>
</p>
</div><!-- class='members_only_wrapper' -->

<hr/>

<h3>Forums:</h3>
<% if @forums.length > 0 %>
 <table id='forums'><thead>
 <tr><th>Name</th><th>Topics</th><th>Posts</th><th>Last Post</th><th>&nbsp;</th></tr>
 </thead><tbody>
 <%= render :partial => 'forum', :collection => @forums %>
 </tbody></table><!-- id='forums' -->
<% else %>
 <p>Sorry, but no forums yet.</p>
<% end %>
<p><%= link_to( "Add New Group Forum", new_group_forum_path(@group), :class => 'button' 
	) if current_user.may_create_forum_for_group?(@group) %></p>

<hr/>

<h3>Members:</h3>
<% if @memberships.length > 0 %>
 <table id='memberships'><thead>
 <tr><th>User</th><th>Role</th><th>Approved?</th><th>&nbsp;</th></tr>
 </thead><tbody>
 <%= render :partial => 'membership', :collection => @memberships %>
 </tbody></table><!-- id='memberships' -->
<% else %>
 <p>Sorry, but no memberships yet.</p>
<% end %>
