<h2>Group:</h2>
<p>
<b>Name:</b>
<%=h @group.name %>
</p>
<p>
<b>Description:</b>
<%=h @group.description %>
</p>
<%# if current_user.may_edit_group?(@group) %>
<p>
<%= link_to "Edit Group", edit_group_path(@group) %>
&nbsp;|&nbsp;
<%= link_to "Request Membership", new_group_membership_path(@group) %>
</p>
<%# end %>
<hr/>
<h3>Members:</h3>
<% if @memberships.length > 0 %>
<table id='memberships'><thead>
<tr><th>User</th><th>Role</th></tr>
</thead><tbody>
<%= render :partial => 'membership', :collection => @memberships %>
</tbody></table><!-- id='memberships' -->
<% else %>
Sorry, but no memberships yet.
<% end %>
