<h2>Group:</h2>
<p>
<b>Name:</b>
<%=h @group.name %>
</p>
<p>
<b>Description:</b>
<%=h @group.description %>
</p>
<%# if current_user.may_edit_group?(@group) %>
<p>
<%= link_to "Edit Group", edit_group_path(@group) %>
&nbsp;|&nbsp;
<%= link_to "Request Membership", new_group_membership_path(@group) %>
</p>
<%# end %>
<hr/>
<div class='members_only equal_height_column_wrapper'>
<div class='announcement_section equal_height_column section'>
<h3>Announcements</h3>
</div><!-- class='announcement_section equal_height_column section' -->
<div class='calendar_section equal_height_column section'>
<h3>Events</h3>
</div><!-- class='calendar_section equal_height_column section' -->
</div><!-- class='members_only equal_height_column_wrapper' -->

<div class='members_only equal_height_column_wrapper'>
<div class='announcement_section equal_height_column section'>
<a>Create new announcement</a>
</div><!-- class='announcement_section equal_height_column section' -->
<div class='calendar_section equal_height_column section'>
<a>Create new event</a>
</div><!-- class='calendar_section equal_height_column section' -->
</div><!-- class='members_only equal_height_column_wrapper' -->

<hr/>
<h3>Members:</h3>
<% if @memberships.length > 0 %>
<table id='memberships'><thead>
<tr><th>User</th><th>Role</th></tr>
</thead><tbody>
<%= render :partial => 'membership', :collection => @memberships %>
</tbody></table><!-- id='memberships' -->
<% else %>
Sorry, but no memberships yet.
<% end %>
