<% content_tag_for( :tr, forum, :class => 'row' ) do %>
 <td class='name'>
  <%= link_to forum.name, forum %>
 </td>
 <td class='topics'>
  <%= forum.topics_count %>
 </td>
 <td class='posts'>
  <%= forum.posts_count %>
 </td>
 <td class='last_post'>
  <% if forum.last_post %>
  <span><%= forum.last_post.created_at %></span><br/>
	<span>by&nbsp;<%=h forum.last_post.user %></span>
  <% end %>
 </td>
 <td class='manage'>
<% if current_user.may_edit_forum?(forum) %>
  <%= link_to 'Edit', edit_forum_path(forum), :class => 'button' %>&nbsp;
<% if current_user.may_moderate_forum?(forum) %>
  <% destroy_link_to 'Destroy', forum_path(forum) do %>
   <%= hidden_field_tag 'confirm', "Destroy forum '#{h(forum)}'?", 
     :id => nil %>
  <% end %>
<% end %>
<% end %>
 </td>
<% end %><!-- class='forum row' -->
