<div class='members_only_wrapper'>
<div class='members_only'>

 <div class='announcement_section section'>
  <h2>Announcements</h2>
  <% if @announcements.length > 0 %>
   <table id='announcements'><tbody>
   <%= render :partial => 'announcement', :collection => @announcements %>
   </tbody></table><!-- id='announcements' -->
  <% else %>
   <p>Sorry, but no announcements yet.</p>
  <% end %>
 </div><!-- class='announcement_section section' -->

 <div class='calendar_section section'>
  <%= calendar() %>
 </div><!-- class='calendar_section section' -->

</div><!-- class='members_only' -->

<p>
<%= link_to "New Site Announcement", new_announcement_path, :class => 'button' %>&nbsp;
<%= link_to "All Site Announcements", announcements_path, :class => 'button' %>
</p>
</div><!-- class='members_only_wrapper' -->


<hr/>
<h3>Forums:</h3>
<% if @forums.length > 0 %>
  <table id='forums'><thead>
  <tr><th>Name</th><th>Topics</th><th>Posts</th><th>Last Post</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'forum', :collection => @forums %>
  </tbody></table><!-- id='forums' -->
<% else %>
  <p>Sorry, but no forums yet.</p>
<% end %>
<p><%= link_to( "Add New Forum", new_forum_path, :class => 'button' 
	) if current_user.may_create_forum_for_group?(nil) %></p>
