<div class='members_only_wrapper'>
<div class='members_only'>

 <div class='announcement_section section'>
  <h2>Announcement</h2>
  <% if @announcements.length > 0 %>
   <table id='announcements'><tbody>
   <%= render :partial => 'announcement', :collection => @announcements %>
   </tbody></table><!-- id='announcements' -->
  <% else %>
   <p>Sorry, but no announcements yet.</p>
  <% end %>
 </div><!-- class='announcement_section section' -->

 <div class='calendar_section section'>
  <h2>Calendar</h2>
  <% if @events.length > 0 %>
   <table id='events'><tbody>
   <%= render :partial => 'event', :collection => @events %>
   </tbody></table><!-- id='events' -->
  <% else %>
   <p>Sorry, but no events yet.</p>
  <% end %>
  <p>(show two months at a time)</p>
 </div><!-- class='calendar_section section' -->

</div><!-- class='members_only' -->

<div class='members_only'>
 <div class='announcement_section section'>
 <p>
  <%= link_to "New Site Announcement", new_announcement_path,
   :class => 'button' %></p>
 </div>
 <div class='calendar_section section'>
 <p>
  <%= link_to "New Site Event", new_event_path,
   :class => 'button' %></p>
 </div>
</div>
</div><!-- class='members_only_wrapper' -->


<hr/>
<h3>Forums:</h3>
<% if @forums.length > 0 %>
  <table id='forums'><thead>
  <tr><th>Name</th><th>Topics</th><th>Posts</th><th>Last Post</th></tr>
  </thead><tbody>
  <%= render :partial => 'forum', :collection => @forums %>
  </tbody></table><!-- id='forums' -->
<% else %>
  <p>Sorry, but no forums yet.</p>
<% end %>
<p><%= link_to( "Add New Forum", new_forum_path, :class => 'button' 
	) if current_user.may_create_forum_for_group?(nil) %></p>
