<% javascripts("//tinymce.cachefly.net/4.0/tinymce.min.js") %>
<%= f.wrapped_text_field :title,
	:label_text => "Title #{required('*')}".html_safe,
	:class => 'autosize' %>
<%= f.wrapped_text_field :first_name,
	:label_text => "First Name #{required('*')}".html_safe,
	:class => 'autosize' %>
<%= f.wrapped_text_field :last_name,
	:label_text => "Last Name #{required('*')}".html_safe,
	:class => 'autosize' %>
<%= f.wrapped_text_field :degrees,
	:label_text => "Degrees #{required('*')}".html_safe,
	:class => 'autosize' %>
<%#= f.wrapped_text_field :profession,
	:label_text => "Profession #{required('*')}",
	:class => 'autosize' %>

<%#= f.wrapped_collection_select(:profession_ids,Profession.all,
	:id, :name, {:label_text => 'Professions'}, 
	{ :multiple => true, :size => Profession.count } ) %>

<div class="profession_ids field_wrapper<%=' field_error' if f.object.errors.include?(:profession_ids)-%>">
<div class='label'>Professions <%=required('*')-%></div>
<div class="profession_ids_wrapper">
<% Profession.all.each do |p| %>
<div class="profession_ids check_box field_wrapper">
<%= f.check_box(:profession_ids,{:name => 'user[profession_ids][]', 
	:id => "user_profession_#{p.id}" },p.id, nil ) %>
<%= label_tag("user_profession_#{p.id}",p.name)%>
</div>
<% end %>
</div>
</div>

<%= f.wrapped_text_field :organization,
	:label_text => "Organization #{required('*')}".html_safe,
	:class => 'autosize' %>
<%= f.wrapped_text_field :phone_number,
	:label_text => "Phone Number #{required('*')}".html_safe,
	:class => 'autosize' %>
<%= f.wrapped_text_area :address, 
	:label_text => "Address #{required('*')}".html_safe,
	:cols => 40, :rows => 3,
	:class => 'autosize' %>
<%= f.wrapped_text_area :research_interests,
	:cols => 40, :rows => 3,
	:class => 'tinymce' %>
<%= f.wrapped_text_area :selected_publications,
	:cols => 40, :rows => 3,
	:class => 'tinymce' %>
<p>Be advised that some characters in the filename are not handled correctly and the uploaded file may not be reachable.  The apostrophe is currently the only known problem so far. Rename the file on your computer prior to uploading so that it does not include any special characters.</p>
<%= f.wrapped_file_field :avatar %>
