<% javascripts('jquery.simplemodal.1.4.4.min.js') %>
<% stylesheets('simple_modal_basic.css') %>

<h2>User</h2>
<%= form_for( @user, :html => { 
	:multipart => true, :class => 'edit_user' } ) do |f| %>

<%= render :partial => 'form1', :locals => { :f => f } %>

 <%= f.wrapped_password_field :password,
		:label_text => "Password #{required('*&nbsp;**')}".html_safe,
    :class => 'autosize' %>
 <%= f.wrapped_password_field :password_confirmation,
		:label_text => "Password Confirmation #{required('*&nbsp;**')}".html_safe,
    :class => 'autosize' %>

<%= render :partial => 'form2', :locals => { :f => f } %>

<h3>Membership Requests.&nbsp;<span id='membership_help' class='modal_trigger'>help?</span></h3>
<div id='membership_help_content' class='modal_content'>
<p>A selection of a Group Role is required to access the various Groups.  Membership to the Coordination Group is required to access the Inventory.</p>
<%= render 'memberships/definitions' %>
</div>
<%#
	This is by no means conventional, hence the oddities.
%>
<div class='membership_requests'>
<div class='membership_request row'>
<div class='group_role_id field_wrapper'>
<span class='label'>Group</span><span>Group Role</span>
</div><!-- class='group_role_id field_wrapper' -->
</div><!-- class='membership_request row' -->

<% @groups.joinable.each do |group| %>
<%= f.fields_for "membership_requests[#{group.id}]" do |m| -%>
<div class='membership_request row'>
<%= m.wrapped_collection_select( :group_role_id, GroupRole.all,
  :id, :name, :include_blank => true,
	:selected => (@user.membership_requests) ? @user.membership_requests[group.id.to_s]['group_role_id'].to_i : nil,
	:label_text => "#{group}" ) %>
<% end -%>
</div><!-- class='membership_request row' -->
<% end %>
</div><!-- class='membership_requests' -->

<%= render :partial => 'form3', :locals => { :f => f } %>

<% end %>

