<h2>User:</h2>
<% form_for( @user, :html => { 
	:multipart => true, :class => 'edit_user' } ) do |f| %>

<%= render :partial => 'form1', :locals => { :f => f } %>

 <%= f.wrapped_password_field :password,
		:label_text => "Password <span class='required'>* **</span>",
    :class => 'autosize' %>
 <%= f.wrapped_password_field :password_confirmation,
		:label_text => "Password Confirmation <span class='required'>* **</span>",
    :class => 'autosize' %>

<%= render :partial => 'form2', :locals => { :f => f } %>



<%#

	membership[:group_id][:group_role_id] = 1 ... 4

Group.joinable.collect{|g| Membership.new(:group => g) }

"membership"=>{"255552193"=>{"group_role_id"=>""}, "49839441"=>{"group_role_id"=>""}, "103210531"=>{"group_role_id"=>""}, "1018266143"=>{"group_role_id"=>""}, "467750631"=>{"group_role_id"=>""}, "383973226"=>{"group_role_id"=>""}, "1"=>{"group_role_id"=>"1"}, "405694412"=>{"group_role_id"=>""}, "2"=>{"group_role_id"=>"2"}, "833231281"=>{"group_role_id"=>"4"}, "314760547"=>{"group_role_id"=>""}, "422154922"=>{"group_role_id"=>""}, "159216743"=>{"group_role_id"=>"3"}, "146093445"=>{"group_role_id"=>""}, "374441761"=>{"group_role_id"=>""}, "58051802"=>{"group_role_id"=>""}, "635838813"=>{"group_role_id"=>""}}

the below submits the above

%>

<h3>Preparing to allow users to create membership requests at creation.</h3>
<% @groups.joinable.each do |group| %>
<% fields_for "membership[#{group.id}]" do |m| %>
<%= m.wrapped_collection_select( :group_role_id, GroupRole.all,
  :id, :name, :include_blank => true) %>
<% end %>
<% end %>




<%= render :partial => 'form3', :locals => { :f => f } %>

<% end %>
