<h2>User</h2>
<% form_for( @user, :html => { 
	:multipart => true, :class => 'edit_user' } ) do |f| %>

<%= render :partial => 'form1', :locals => { :f => f } %>

 <%= f.wrapped_password_field :password,
		:label_text => "Password #{required('*&nbsp;**')}",
    :class => 'autosize' %>
 <%= f.wrapped_password_field :password_confirmation,
		:label_text => "Password Confirmation #{required('*&nbsp;**')}",
    :class => 'autosize' %>

<%= render :partial => 'form2', :locals => { :f => f } %>

<h3>Membership Requests.</h3>
<span>( Membership to the Coordination Group is required to access the Inventory. )</span>
<%#
	This is by no means conventional, hence the oddities.
%>
<div class='membership_requests'>
<div class='membership_request row'>
<div class='group_role_id field_wrapper'>
<span class='label'>Group</span><span>Group Role</span>
</div><!-- class='group_role_id field_wrapper' -->
</div><!-- class='membership_request row' -->

<% @groups.joinable.each do |group| %>
<% f.fields_for "membership_requests[#{group.id}]" do |m| -%>
<div class='membership_request row'>
<%= m.wrapped_collection_select( :group_role_id, GroupRole.all,
  :id, :name, :include_blank => true,
	:selected => (@user.membership_requests) ? @user.membership_requests[group.id.to_s]['group_role_id'].to_i : nil,
	:label_text => "#{group}" ) %>
<% end -%>
</div><!-- class='membership_request row' -->
<% end %>
</div><!-- class='membership_requests' -->

<%= render :partial => 'form3', :locals => { :f => f } %>

<span>Group Role definitions</span>
<dl id='group_role_definitions'>
<dt>Moderator</dt><dd>Permission to post group announcements, create, post, and read in forums, up- and download documents, and remove documents posted by other users. Member should only request to be a moderator if he/she is a leader or co-leader of a Core Logistic and/or Interest Group.</dd>
<dt>Editor</dt><dd>Permission to create, post and read in forums, up-and download documents. Member should only request to be an editor if he/she is a member of a Core Logistic and/or Interest Group.</dd>
<dt>Reader</dt><dd>Permission to read all posts (e.g. documents, forums, announcements) in the group. Member should only request to be a reader of he/she is not a member of a Core Logistic and/or Interest Group but wishes to periodically review activities.</dd>
</dl>
<% end %>
