<% stylesheets('user') %>

<div class='user'>
 <div class='user_avatar'>
   <%= image_tag(@user.avatar.url(:medium)) %>
 </div><!-- class='user_avatar' -->

  <div class='person'>
    <h2><%= @user.full_name %>, <%= @user.title %></h2>
    <p>Profession:&nbsp;<%= @user.profession %></p>
    <p>Organization:&nbsp;<%= @user.organization %></p>
    <p>Phone:&nbsp;<%= @user.phone_number %></p>
    <p>Address:&nbsp;<%= @user.address %></p>
    <p>Email:&nbsp;<%= @user.email %></p>
  <p>
   <%= link_to( 'Edit User Info', edit_user_path(current_user), :class => 'button' )%>
   <%= link_to( 'Edit Password', edit_password_path(), :class => 'button' )%>
  </p>
 </div><!-- class='person' -->
</div><!-- class='user' -->

<div class='user'>
 <div class='research_interests'>
  <h2>Research Interests:</h2>
  <%= sanitize(textilize(@user.research_interests)) %>
 </div><!-- class='research_interests' -->

 <div class='selected_publications'>
  <h2>Selected Publications:</h2>
  <%= sanitize(textilize(@user.selected_publications)) %>
 </div><!-- class='selected_publications' -->

 <div class='groups'>
  <h2>Groups:</h2>
  <% unless @user.memberships.empty? %>
   <ul>
    <% @user.memberships.each do |membership| %>
     <li><%= link_to membership.group.name, membership.group %>&nbsp;
       (<%= membership.group_role.try(:name) || 'NONE' %>)</li>
    <% end %>
   </ul>
  <% end %>
 </div><!-- class='groups' -->

<% if current_user.may_administrate? %>
  <div class='roles'>
  <h2>Roles:</h2>
   <%= user_roles() %>
  </div><!-- id='roles' -->
<% end %>
</div><!-- id='user' -->
