<% stylesheets('user') %>

<div id='user'>
 <div>
  <div class='person'><dl>
   <% %w( username email ).each do |key| -%>
    <dt><%= key -%></dt>
    <dd><%= @user.attributes[key] -%></dd>
   <% end -%>
  </dl></div><!-- class='person' -->
  <div id='roles'>
   <%= link_to( image_tag(@user.gravatar_url), "http://gravatar.com",
    :target => 'new' )%>
   <%= user_roles() %>
  </div><!-- id='roles' -->
 <p>
  <%= link_to( 'Edit User Info', edit_user_path(current_user), :class => 'button' )%>
  <a class='button'>Edit Password (coming soon)</a>
 </p>
 </div>
<hr/>
 <div class='groups'>
  <h3>Groups:</h3>
  <% @user.memberships.each do |membership| %>
   <p><%= membership.group.name %>&nbsp;(<%= membership.group_role.try(:name) || 'NONE' %>)</p>
  <% end %>
 </div> 
</div><!-- id='user' -->
