<tr>
  <td><%=h exposure.category %></td>
  <td><%=h exposure.relation_to_child %></td>
  <td><%= exposure.windows.join('<br/>') %></td>
  <td><%= exposure.types.join('<br/>') %></td>
  <td><%= exposure.assessments.join('<br/>') %></td>
</tr>
