<% stylesheets('base/jquery.ui.all.css') %>
<h1>Editing event</h1>

<% form_for(@event) do |f| %>
 <%= f.error_messages %>
 <%= f.wrapped_text_field :title,
	:label_text => "Title <span class='required'>*</span>",
	:class => 'autosize' %>
 <%= f.wrapped_text_area :content,
	:label_text => "Content <span class='required'>*</span>",
	:class => 'autosize' %>
 <%= f.wrapped_date_text_field :begins_on,
	:label_text => "Begins On <span class='required'>*</span>" %>
 <%= f.wrapped_date_text_field :ends_on %>
 <p class='required'>*&nbsp;-&nbsp;Required</p>
 <p>
  <%= f.submit( (@event.new_record?)?'Create':'Update' ) %>
  <%= submit_link_to( (@event.new_record?)?'Create':'Update' ) %>
&nbsp;
  <%= link_to 'Show', @event, :class => 'button' %>
&nbsp;
  <%= link_to 'Back', events_path, :class => 'button' %>
 </p>
<% end %>

