<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Content:</b>
  <%= sanitize(@event.content) %>
</p>

<p>
  <b>User:</b>
  <%=h @event.user %>
</p>

<p>
  <b>Begins On:</b>
  <%=mdy @event.begins_on %>
</p>

<p>
  <b>Begins At:</b>
  <%=h @event.begins_at %>
</p>

<p>
  <b>Ends On:</b>
  <%=mdy @event.ends_on %>
</p>

<p>
  <b>Ends At:</b>
  <%=h @event.ends_at %>
</p>

<p>
 <%= link_to 'Edit Announcement', edit_event_path(@event), :class => 'button' %>
&nbsp;
 <%= link_to 'Show Announcements', events_path, :class => 'button' %>
</p>
