<%# stylesheets('document') %>

<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>

<p>
  <b>Abstract:</b>
  <%=sanitize @document.abstract %>
</p>

<%= link_to 'Download this Document', 
	document_path(@document), :class => 'button' %>&nbsp;
<%= link_to 'Edit this Document', 
	edit_document_path(@document), :class => 'button' %>&nbsp;
<%= link_to 'Back to Documents', documents_path, :class => 'button' %>
