<h2>Study</h2>

<div>
  <b>Name:</b>
  <span><%=h @study.name %></span>

<div style='float:right;'>
  <%= link_to 'Edit', edit_study_path(@study), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', study_path(@study) do %>
   <%= hidden_field_tag 'confirm', "Destroy study '#{h(@study)}'?",
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
</div>
</div>

<p>
  <b>World region:</b>
  <%=h @study.world_region %>
</p>

<p>
  <b>Country:</b>
  <%=h @study.country %>
</p>

<p>
  <b>Design:</b>
  <%=h @study.design %>
</p>

<p>
  <b>Target Age group:</b>
  <%=h @study.target_age_group %>
</p>

<p>
  <b>Recruitment:</b>
  <%=h @study.recruitment %>
</p>

<p>
  <b>Principal Investigators:</b>
  <%=h @study.principal_investigators.join(', ') %>
</p>

<p>
  <b>Overview:</b>
</p>
<pre style='white-space:pre-wrap'>
  <%=h @study.overview %>
</pre>

<%= render :partial => 'publications/index',
	:locals => { :publications => @study.publications } %>

<%= render :partial => 'exposures/index',
	:locals => { :exposures => @study.exposures } %>

<%= render :partial => 'questionnaires/index',
	:locals => { :questionnaires => @study.questionnaires } %>

