<% stylesheets('user') %>

<h2>Edit Password</h2>
<% form_for( current_user, :url => password_path,
	:method => :put,
	:class => 'edit_user' ) do |f| %>

 <%= f.error_messages %>
<div class='current_password field_wrapper'>
<label for="user_current_password">Current Password</label>
<input class="autosize" id="user_current_password" name="user[current_password]" 
	size="30" type="password" />
</div><!-- class='current_password' -->
 <%= f.wrapped_password_field :password,
		:label_text => "Password #{required('*')}",
    :class => 'autosize' %>
 <%= f.wrapped_password_field :password_confirmation,
		:label_text => "Password Confirmation #{required('*')}",
    :class => 'autosize' %>

<p>
  <%= f.submit_link_to "Submit" %>
</p>
<p><%=required('*')-%>&nbsp;-&nbsp;Password requires at least one lowercase and one uppercase letter, one number and one special character </p>
<% end %>
