<h2>Editing Photo</h2>

<% form_for(@photo,
		:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render 'form',:f => f %>
<p>
<%= f.submit( "Update this Photo" )%>&nbsp;
<%= link_to 'Show this Photo', @photo, :class => 'button' %>&nbsp;
<%= link_to 'Back to Photos', photos_path, :class => 'button' %>
</p>
<% end %>
