<% javascripts("//tinymce.cachefly.net/4.0/tinymce.min.js") %>
<h2>Editting reply to ... &nbsp;&raquo;&nbsp;<%= link_to @post.topic.title, @post.topic %></h2>

<%= form_for @post do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :body, :cols => 40, :rows => 20, :class => 'tinymce' %>
  <p>
    <%= f.submit 'Submit' %>&nbsp;
    <%= link_to 'Cancel and return to Topic', @post.topic, :class => 'button' %>
  </p>
<% end %>
