<h2>Replying to ...</h2>

<% form_for @post, :url => topic_posts_path(@topic),
	:html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.wrapped_text_area :body,
    :class => 'autosize' %>

  <% fields_for @group_document do |d| %>
    <%= d.error_messages %>
    <%= d.wrapped_text_field :title,
      :label_text => 'Document Title',
      :class => 'autosize' %>
    <%= d.wrapped_file_field :document %>
  <% end %>

  <p>
    <%= f.submit 'Submit' %>
    <%= submit_link_to 'Submit' %>
  </p>
<% end %>
