<%# javascripts('tiny_mce/jquery.tinymce.js') %>
<% javascripts('tinymce-jquery.js') %>
<h2>Replying to ... &nbsp;&raquo;&nbsp;<%= link_to @topic.title, @topic %></h2>

<%= form_for @post, :url => topic_posts_path(@topic),
  :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.wrapped_text_area :body,
    :cols => 40, :rows => 20, :class => 'tinymce' %>

  <% @post.group_documents.build if @post.group_documents.empty? %>
  <%= f.fields_for :group_documents do |d| %>
    <p>Optional File Attachment ...</p>
<p>Be advised that some characters in the filename are not handled correctly and the uploaded file may not be reachable.  The apostrophe is currently the only known problem so far. Rename the file on your computer prior to uploading so that it does not include any special characters.</p>
    <%= d.wrapped_text_field :title,
      :label_text => 'Document Title',
      :class => 'autosize' %>
    <%= d.wrapped_file_field :document %>
  <% end %>

  <p>
    <%= f.submit 'Submit' %>&nbsp;
    <%= link_to 'Cancel and return to Topic', @topic, :class => 'button' %>
  </p>
<% end %>
