<h1>Login</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
 <%= f.error_messages %>
 <%= f.label :username %><br />
 <%= f.text_field :username %><br />
 <br />
 <%= f.label :password %><br />
 <%= f.password_field :password %><br />
 <br />
 <%= f.wrapped_check_box :remember_me %>
 <br />
 <p>
  <%= f.submit "Login" %>
  <%= link_to "Not a member? Sign Up.", signup_path, :class => 'button' %>
  <%= link_to "Forgot your username?", new_forgot_username_path, :class => 'button' %>
  <%= link_to "Forgot your password?", new_password_reset_path, :class => 'button' %>

  <% if @user_session.errors.on_attr_and_type(:base,:unconfirmed_email) %>
  <%= link_to( "Resend Email Confirmation?", 
    resend_confirm_email_path(@user_session.attempted_record.perishable_token),
    :class => 'button') %>
  <% end %>
 </p>

<% end %>
