<head>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="https://s3.amazonaws.com/clic/images/clic_logo.gif"/>
<title><%= @page_title || "CLIC" -%></title>
<%= javascript_include_tag :defaults,'simply_helpful' %>
<%= stylesheet_link_tag 'application','simply_helpful','base/jquery.ui.all.css' %>
<!--[if lte IE 7]>
<%= stylesheet_link_tag 'ie' %>
<![endif]-->
<%= yield :head %>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', <%="'UA-17648061-#{(Rails.env=='production')?'10'    :'7'}'"-%>]);
	_gaq.push(['_trackPageview']);

	(function(){
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 
			'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; 
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
