<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render 'layouts/head' %>
<body>
 <div id='container'>
  <%= render 'layouts/header' %>
<!--
<div id="header2">
<%#= aws_image_tag('BufflerBanner1.jpg') %>
</div>
-->
  <div id='columns_wrapper'>
  <div id='columns' class='columns'>
   <div id='menu'><%= application_menu() %></div><!-- id='menu' -->
   <div id='content'>
    <%= flasher() %>
    <%= yield %>
    <%= render 'layouts/footer' %>
   </div><!-- id='content' -->
  </div><!-- id='columns' class='columns' -->
  </div><!-- id='columns_wrapper' -->
  </div><!-- id='container' -->
</body>
</html>
