<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= @page_title || "CLIC" -%></title>
<%= javascript_include_tag :defaults,'simply_helpful' %>
<%= stylesheet_link_tag 'reset','layout','shared' %>
<!--[if lte IE 7]>
<%= stylesheet_link_tag 'ie' %>
<![endif]-->
<%= yield :head %>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', <%="'UA-17648061-#{(Rails.env=='production')?'10'    :'7'}'"-%>]);
	_gaq.push(['_trackPageview']);

	(function(){
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 
			'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; 
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body>
<div id='container'>
<%= render 'layouts/header' %>
<div id='columns' class='equal_height_column_wrapper'>
<div id='menu' class='equal_height_column'>
<%= render 'layouts/menu' %>
</div><!-- id='menu' class='equal_height_column' -->
<div id='content_wrapper' class='equal_height_column'>
<div id='content'>
<%= flasher() %>
<%= yield %>
</div><!-- id='content' -->
<%= render 'layouts/footer' %>
</div><!-- id='content_wrapper' class='equal_height_column' -->
</div><!-- id='columns' class='equal_height_column_wrapper' -->
</div><!-- id='container' -->
</body>
</html>
